{
	"FileEditWarning": "",
	"ConfigVersion": "1.8",
	"ServerName": "{{ vs_server_name | default('[FR] Petites Pousses') }}",
	"ServerUrl": null,
	"ServerDescription": "{{ vs_server_description | default('Serveur Vintage Story des Petites Pousses') }}",
	"WelcomeMessage": "{{ vs_welcome_message | default('Bienvenue {0}, puissiez-vous survivre et prospérer.') }}",
	"Ip": {% if vs_server_ip is defined %}"{{ vs_server_ip }}"{% else %}null{% endif %},
	"Port": {{ vs_port | default(42420) }},
	"Upnp": true,
	"CompressPackets": true,
	"AdvertiseServer": {{ vs_advertise_server | default(false) | lower }},
	"MaxClients": {{ vs_max_clients | default(4) }},
	"MaxClientsInQueue": 0,
	"PassTimeWhenEmpty": false,
	"MasterserverUrl": "http://masterserver.vintagestory.at/api/v1/servers/",
	"ModDbUrl": "https://mods.vintagestory.at/",
	"ClientConnectionTimeout": 150,
	"EntityDebugMode": false,
	"Password": {% if vs_password is defined %}"{{ vs_password }}"{% else %}null{% endif %},
	"MapSizeX": 1024000,
	"MapSizeY": 256,
	"MapSizeZ": 1024000,
	"ServerLanguage": "{{ vs_language | default('fr') }}",
	"MaxChunkRadius": 12,
	"TickTime": 33.333332,
	"SpawnCapPlayerScaling": 0.5,
	"BlockTickChunkRange": 5,
	"MaxMainThreadBlockTicks": 10000,
	"RandomBlockTicksPerChunk": 16,
	"BlockTickInterval": 300,
	"SkipEveryChunkRow": 0,
	"SkipEveryChunkRowWidth": 0,
	"Roles": [
		{
			"Code": "suvisitor",
			"PrivilegeLevel": -1,
			"Name": "Survival Visitor",
			"Description": "Can only visit this world and chat but not use/place/break anything",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"chat"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 1,
			"Color": "Green",
			"LandClaimAllowance": 0,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 3,
			"AutoGrant": false
		},
		{
			"Code": "crvisitor",
			"PrivilegeLevel": -1,
			"Name": "Creative Visitor",
			"Description": "Can only visit this world, chat and fly but not use/place/break anything",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"chat"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 2,
			"Color": "DarkGray",
			"LandClaimAllowance": 0,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 3,
			"AutoGrant": false
		},
		{
			"Code": "limitedsuplayer",
			"PrivilegeLevel": -1,
			"Name": "Limited Survival Player",
			"Description": "Can use/place/break blocks only in permitted areas (priv level -1), create/manage player groups and chat",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"build",
				"useblock",
				"attackcreatures",
				"attackplayers",
				"selfkill"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 1,
			"Color": "White",
			"LandClaimAllowance": 0,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 3,
			"AutoGrant": false
		},
		{
			"Code": "limitedcrplayer",
			"PrivilegeLevel": -1,
			"Name": "Limited Creative Player",
			"Description": "Can use/place/break blocks in only in permitted areas (priv level -1), create/manage player groups, chat, fly and set his own game mode (= allows fly and change of move speed)",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"build",
				"useblock",
				"gamemode",
				"freemove",
				"attackcreatures",
				"attackplayers",
				"selfkill"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 2,
			"Color": "LightGreen",
			"LandClaimAllowance": 0,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 3,
			"AutoGrant": false
		},
		{
			"Code": "suplayer",
			"PrivilegeLevel": 0,
			"Name": "Survival Player",
			"Description": "Can use/place/break blocks in unprotected areas (priv level 0), create/manage player groups and chat. Can claim an area of up to 8 chunks.",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"areamodify",
				"build",
				"useblock",
				"attackcreatures",
				"attackplayers",
				"selfkill"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 1,
			"Color": "White",
			"LandClaimAllowance": 262144,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 3,
			"AutoGrant": false
		},
		{
			"Code": "crplayer",
			"PrivilegeLevel": 100,
			"Name": "Creative Player",
			"Description": "Can use/place/break blocks in all areas (priv level 100), create/manage player groups, chat, fly and set his own game mode (= allows fly and change of move speed). Can claim an area of up to 40 chunks.",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"areamodify",
				"build",
				"useblock",
				"gamemode",
				"freemove",
				"attackcreatures",
				"attackplayers",
				"selfkill"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 2,
			"Color": "LightGreen",
			"LandClaimAllowance": 1310720,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 6,
			"AutoGrant": false
		},
		{
			"Code": "sumod",
			"PrivilegeLevel": 200,
			"Name": "Survival Moderator",
			"Description": "Can use/place/break blocks everywhere (priv level 200), create/manage player groups, chat, kick/ban players and do serverwide announcements. Can claim an area of up to 4 chunks.",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"areamodify",
				"build",
				"useblock",
				"buildblockseverywhere",
				"useblockseverywhere",
				"kick",
				"ban",
				"announce",
				"readlists",
				"attackcreatures",
				"attackplayers",
				"selfkill"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 1,
			"Color": "Cyan",
			"LandClaimAllowance": 1310720,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 60,
			"AutoGrant": false
		},
		{
			"Code": "crmod",
			"PrivilegeLevel": 500,
			"Name": "Creative Moderator",
			"Description": "Can use/place/break blocks everywhere (priv level 500), create/manage player groups, chat, kick/ban players, fly and set his own or other players game modes (= allows fly and change of move speed). Can claim an area of up to 40 chunks.",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"areamodify",
				"build",
				"useblock",
				"buildblockseverywhere",
				"useblockseverywhere",
				"kick",
				"ban",
				"gamemode",
				"freemove",
				"commandplayer",
				"announce",
				"readlists",
				"attackcreatures",
				"attackplayers",
				"selfkill"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 2,
			"Color": "Cyan",
			"LandClaimAllowance": 1310720,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 60,
			"AutoGrant": false
		},
		{
			"Code": "admin",
			"PrivilegeLevel": 99999,
			"Name": "Admin",
			"Description": "Has all privileges, including giving other players admin status.",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"build",
				"useblock",
				"buildblockseverywhere",
				"useblockseverywhere",
				"attackplayers",
				"attackcreatures",
				"freemove",
				"gamemode",
				"pickingrange",
				"chat",
				"kick",
				"ban",
				"whitelist",
				"setwelcome",
				"announce",
				"readlists",
				"give",
				"areamodify",
				"setspawn",
				"controlserver",
				"tp",
				"time",
				"grantrevoke",
				"root",
				"commandplayer",
				"controlplayergroups",
				"manageplayergroups",
				"selfkill",
				"worldedit"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 1,
			"Color": "LightBlue",
			"LandClaimAllowance": 2147483647,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 99999,
			"AutoGrant": true
		}
	],
	"DefaultRoleCode": "{{ vs_default_role | default('suplayer') }}",
	"ModPaths": [
		"Mods",
		"{{ vs_world_dir }}/Mods"
	],
	"AntiAbuse": {{ vs_anti_abuse | default(0) }},
	"WorldConfig": {
		"Seed": "{{ vs_world_seed | default('1411521110') }}",
		"SaveFileLocation": "{{ vs_world_dir }}/Saves/{{ vs_world_save_name | default('petites-pousses') }}.vcdbs",
		"WorldName": "{{ vs_world_name | default('Petites Pousses') }}",
		"AllowCreativeMode": {{ vs_allow_creative | default(true) | lower }},
		"PlayStyle": "{{ vs_play_style | default('surviveandbuild') }}",
		"PlayStyleLangCode": "{{ vs_play_style_lang | default('surviveandbuild-bands') }}",
		"WorldType": "{{ vs_world_type | default('standard') }}",
		"WorldConfiguration": {
			"gameMode": "{{ vs_game_mode | default('survival') }}",
			"playerlives": "{{ vs_player_lives | default('-1') }}",
			"startingClimate": "{{ vs_starting_climate | default('temperate') }}",
			"spawnRadius": "{{ vs_spawn_radius | default('50') }}",
			"graceTimer": "{{ vs_grace_timer | default('2') }}",
			"deathPunishment": "{{ vs_death_punishment | default('keep') }}",
			"droppedItemsTimer": "{{ vs_dropped_items_timer | default('3600') }}",
			"seasons": "{{ vs_seasons | default('enabled') }}",
			"daysPerMonth": "{{ vs_days_per_month | default('12') }}",
			"harshWinters": "{{ vs_harsh_winters | default('true') }}",
			"blockGravity": "{{ vs_block_gravity | default('sandgravel') }}",
			"caveIns": "{{ vs_cave_ins | default('off') }}",
			"lightningFires": {{ vs_lightning_fires | default(true) | lower }},
			"allowUndergroundFarming": {{ vs_underground_farming | default(true) | lower }},
			"noLiquidSourceTransport": {{ vs_no_liquid_transport | default(false) | lower }},
			"playerHealthPoints": "{{ vs_player_health | default('20') }}",
			"playerHealthRegenSpeed": "{{ vs_health_regen | default('1') }}",
			"playerHungerSpeed": "{{ vs_hunger_speed | default('1') }}",
			"lungCapacity": "{{ vs_lung_capacity | default('40000') }}",
			"bodyTemperatureResistance": "{{ vs_temp_resistance | default('0') }}",
			"playerMoveSpeed": "{{ vs_move_speed | default('1.5') }}",
			"creatureHostility": "{{ vs_creature_hostility | default('aggressive') }}",
			"creatureStrength": "{{ vs_creature_strength | default('1') }}",
			"creatureSwimSpeed": "{{ vs_creature_swim_speed | default('2') }}",
			"foodSpoilSpeed": "{{ vs_food_spoil_speed | default('1') }}",
			"saplingGrowthRate": "{{ vs_sapling_growth | default('1') }}",
			"toolDurability": "{{ vs_tool_durability | default('1') }}",
			"toolMiningSpeed": "{{ vs_tool_mining_speed | default('1') }}",
			"propickNodeSearchRadius": "{{ vs_propick_radius | default('6') }}",
			"microblockChiseling": "{{ vs_microblock_chiseling | default('stonewood') }}",
			"allowCoordinateHud": {{ vs_coordinate_hud | default(true) | lower }},
			"allowMap": {{ vs_allow_map | default(true) | lower }},
			"colorAccurateWorldmap": {{ vs_color_worldmap | default(true) | lower }},
			"loreContent": {{ vs_lore_content | default(true) | lower }},
			"clutterObtainable": "{{ vs_clutter_obtainable | default('ifrepaired') }}",
			"temporalStability": {{ vs_temporal_stability | default(true) | lower }},
			"temporalStorms": "{{ vs_temporal_storms | default('veryrare') }}",
			"tempstormDurationMul": "{{ vs_tempstorm_duration | default('0.5') }}",
			"temporalRifts": "{{ vs_temporal_rifts | default('visible') }}",
			"temporalGearRespawnUses": "{{ vs_temporal_gear_respawn | default('-1') }}",
			"temporalStormSleeping": "{{ vs_temporal_storm_sleeping | default('1') }}",
			"worldClimate": "{{ vs_world_climate | default('realistic') }}",
			"landcover": "{{ vs_landcover | default('0.5') }}",
			"oceanscale": "{{ vs_ocean_scale | default('3') }}",
			"upheavelCommonness": "{{ vs_upheaval_commonness | default('0.3') }}",
			"geologicActivity": "{{ vs_geologic_activity | default('0.1') }}",
			"landformScale": "{{ vs_landform_scale | default('1.0') }}",
			"worldWidth": "{{ vs_world_width | default('600000') }}",
			"worldLength": "{{ vs_world_length | default('600000') }}",
			"worldEdge": "{{ vs_world_edge | default('traversable') }}",
			"polarEquatorDistance": "{{ vs_polar_equator_distance | default('100000') }}",
			"storyStructuresDistScaling": "{{ vs_story_structures_scaling | default('1') }}",
			"globalTemperature": "{{ vs_global_temperature | default('1') }}",
			"globalPrecipitation": "{{ vs_global_precipitation | default('1') }}",
			"globalForestation": "{{ vs_global_forestation | default('0') }}",
			"globalDepositSpawnRate": "{{ vs_global_deposit_spawn | default('1') }}",
			"surfaceCopperDeposits": "{{ vs_surface_copper | default('0.5') }}",
			"surfaceTinDeposits": "{{ vs_surface_tin | default('0.25') }}",
			"snowAccum": "{{ vs_snow_accum | default('true') }}",
			"allowLandClaiming": {{ vs_allow_land_claiming | default(true) | lower }},
			"classExclusiveRecipes": {{ vs_class_exclusive_recipes | default(true) | lower }},
			"auctionHouse": {{ vs_auction_house | default(true) | lower }},
			"playstyle": "{{ vs_play_style | default('surviveandbuild') }}"
		},
		"MapSizeY": null,
		"CreatedByPlayerName": null,
		"DisabledMods": null,
		"RepairMode": false
	},
	"NextPlayerGroupUid": {{ vs_next_group_uid | default(11) }},
	"GroupChatHistorySize": {{ vs_group_chat_history | default(20) }},
	"MaxOwnedGroupChannelsPerUser": {{ vs_max_group_channels | default(10) }},
	"OnlyWhitelisted": {{ vs_only_whitelisted | default(false) | lower }},
	"WhitelistMode": {{ vs_whitelist_mode | default(2) }},
	"VerifyPlayerAuth": {{ vs_verify_player_auth | default(true) | lower }},
	"DefaultSpawn": null,
	"AllowPvP": {{ vs_allow_pvp | default(true) | lower }},
	"AllowFireSpread": {{ vs_allow_fire_spread | default(true) | lower }},
	"AllowFallingBlocks": {{ vs_allow_falling_blocks | default(true) | lower }},
	"HostedMode": {{ vs_hosted_mode | default(false) | lower }},
	"HostedModeAllowMods": {{ vs_hosted_mode_mods | default(false) | lower }},
	"StartupCommands": null,
	"RepairMode": false,
	"AnalyzeMode": false,
	"CorruptionProtection": {{ vs_corruption_protection | default(true) | lower }},
	"RegenerateCorruptChunks": {{ vs_regenerate_corrupt_chunks | default(false) | lower }},
	"ChatRateLimitMs": {{ vs_chat_rate_limit | default(1000) }},
	"DieBelowDiskSpaceMb": {{ vs_die_below_disk_space | default(400) }},
	"ModIdBlackList": null,
	"ModIdWhiteList": null,
	"ServerIdentifier": "{{ vs_server_identifier | default('7b156115-ef51-45d3-9d27-b638d41a1057') }}",
	"LogBlockBreakPlace": {{ vs_log_block_actions | default(false) | lower }},
	"LogFileSplitAfterLine": {{ vs_log_file_split | default(500000) }},
	"DieAboveErrorCount": {{ vs_die_above_error_count | default(100000) }},
	"LoginFloodProtection": {{ vs_login_flood_protection | default(false) | lower }},
	"TemporaryIpBlockList": {{ vs_temp_ip_block | default(false) | lower }},
	"DisableModSafetyCheck": {{ vs_disable_mod_safety | default(false) | lower }},
	"DieAboveMemoryUsageMb": {{ vs_die_above_memory | default(50000) }}
}
