{
	"FileEditWarning": "",
	"ConfigVersion": "1.9",
	"ServerName": "{{ vintage_story_server_name | default('[FR] Petites Pousses') }}",
	"ServerUrl": null,
	"ServerDescription": "{{ vintage_story_server_description | default('Serveur Vintage Story des Petites Pousses') }}",
	"WelcomeMessage": "{{ vintage_story_welcome_message | default('Bienvenue {0}, puissiez-vous survivre et prospérer.') }}",
	"Ip": {% if vintage_story_server_ip is defined %}"{{ vintage_story_server_ip }}"{% else %}null{% endif %},
	"Port": {{ vintage_story_port | default(42420) }},
	"Upnp": false,
	"CompressPackets": true,
	"AdvertiseServer": {{ vintage_story_advertise_server | default(false) | lower }},
	"MaxClients": {{ vintage_story_max_clients | default(4) }},
	"MaxClientsInQueue": 0,
	"PassTimeWhenEmpty": false,
	"MasterserverUrl": "http://masterserver.vintagestory.at/api/v1/servers/",
	"ModDbUrl": "https://mods.vintagestory.at/",
	"ClientConnectionTimeout": 150,
	"EntityDebugMode": false,
	"Password": {% if vintage_story_password is defined %}"{{ vintage_story_password }}"{% else %}null{% endif %},
	"MapSizeX": 1024000,
	"MapSizeY": 256,
	"MapSizeZ": 1024000,
	"ServerLanguage": "{{ vintage_story_language | default('fr') }}",
	"MaxChunkRadius": 12,
	"TickTime": 33.333332,
	"SpawnCapPlayerScaling": 0.5,
	"BlockTickChunkRange": 5,
	"MaxMainThreadBlockTicks": 10000,
	"RandomBlockTicksPerChunk": 16,
	"BlockTickInterval": 300,
	"SkipEveryChunkRow": 0,
	"SkipEveryChunkRowWidth": 0,
	"Roles": [
		{
			"Code": "suvisitor",
			"PrivilegeLevel": -1,
			"Name": "Survival Visitor",
			"Description": "Can only visit this world and chat but not use/place/break anything",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"chat"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 1,
			"Color": "Green",
			"LandClaimAllowance": 0,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 3,
			"AutoGrant": false
		},
		{
			"Code": "crvisitor",
			"PrivilegeLevel": -1,
			"Name": "Creative Visitor",
			"Description": "Can only visit this world, chat and fly but not use/place/break anything",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"chat"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 2,
			"Color": "DarkGray",
			"LandClaimAllowance": 0,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 3,
			"AutoGrant": false
		},
		{
			"Code": "limitedsuplayer",
			"PrivilegeLevel": -1,
			"Name": "Limited Survival Player",
			"Description": "Can use/place/break blocks only in permitted areas (priv level -1), create/manage player groups and chat",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"build",
				"useblock",
				"attackcreatures",
				"attackplayers",
				"selfkill"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 1,
			"Color": "White",
			"LandClaimAllowance": 0,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 3,
			"AutoGrant": false
		},
		{
			"Code": "limitedcrplayer",
			"PrivilegeLevel": -1,
			"Name": "Limited Creative Player",
			"Description": "Can use/place/break blocks in only in permitted areas (priv level -1), create/manage player groups, chat, fly and set his own game mode (= allows fly and change of move speed)",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"build",
				"useblock",
				"gamemode",
				"freemove",
				"attackcreatures",
				"attackplayers",
				"selfkill"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 2,
			"Color": "LightGreen",
			"LandClaimAllowance": 0,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 3,
			"AutoGrant": false
		},
		{
			"Code": "suplayer",
			"PrivilegeLevel": 0,
			"Name": "Survival Player",
			"Description": "Can use/place/break blocks in unprotected areas (priv level 0), create/manage player groups and chat. Can claim an area of up to 8 chunks.",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"areamodify",
				"build",
				"useblock",
				"attackcreatures",
				"attackplayers",
				"selfkill"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 1,
			"Color": "White",
			"LandClaimAllowance": 262144,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 3,
			"AutoGrant": false
		},
		{
			"Code": "crplayer",
			"PrivilegeLevel": 100,
			"Name": "Creative Player",
			"Description": "Can use/place/break blocks in all areas (priv level 100), create/manage player groups, chat, fly and set his own game mode (= allows fly and change of move speed). Can claim an area of up to 40 chunks.",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"areamodify",
				"build",
				"useblock",
				"gamemode",
				"freemove",
				"attackcreatures",
				"attackplayers",
				"selfkill"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 2,
			"Color": "LightGreen",
			"LandClaimAllowance": 1310720,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 6,
			"AutoGrant": false
		},
		{
			"Code": "sumod",
			"PrivilegeLevel": 200,
			"Name": "Survival Moderator",
			"Description": "Can use/place/break blocks everywhere (priv level 200), create/manage player groups, chat, kick/ban players and do serverwide announcements. Can claim an area of up to 4 chunks.",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"areamodify",
				"build",
				"useblock",
				"buildblockseverywhere",
				"useblockseverywhere",
				"kick",
				"ban",
				"announce",
				"readlists",
				"attackcreatures",
				"attackplayers",
				"selfkill",
				"manageotherplayergroups"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 1,
			"Color": "Cyan",
			"LandClaimAllowance": 1310720,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 60,
			"AutoGrant": false
		},
		{
			"Code": "crmod",
			"PrivilegeLevel": 500,
			"Name": "Creative Moderator",
			"Description": "Can use/place/break blocks everywhere (priv level 500), create/manage player groups, chat, kick/ban players, fly and set his own or other players game modes (= allows fly and change of move speed). Can claim an area of up to 40 chunks.",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"controlplayergroups",
				"manageplayergroups",
				"chat",
				"areamodify",
				"build",
				"useblock",
				"buildblockseverywhere",
				"useblockseverywhere",
				"kick",
				"ban",
				"gamemode",
				"freemove",
				"commandplayer",
				"announce",
				"readlists",
				"attackcreatures",
				"attackplayers",
				"selfkill",
				"manageotherplayergroups"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 2,
			"Color": "Cyan",
			"LandClaimAllowance": 1310720,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 60,
			"AutoGrant": false
		},
		{
			"Code": "admin",
			"PrivilegeLevel": 99999,
			"Name": "Admin",
			"Description": "Has all privileges, including giving other players admin status.",
			"DefaultSpawn": null,
			"ForcedSpawn": null,
			"Privileges": [
				"build",
				"useblock",
				"buildblockseverywhere",
				"useblockseverywhere",
				"attackplayers",
				"attackcreatures",
				"freemove",
				"gamemode",
				"pickingrange",
				"chat",
				"kick",
				"ban",
				"whitelist",
				"setwelcome",
				"announce",
				"readlists",
				"give",
				"areamodify",
				"setspawn",
				"controlserver",
				"tp",
				"time",
				"grantrevoke",
				"root",
				"commandplayer",
				"controlplayergroups",
				"manageplayergroups",
				"selfkill",
				"worldedit",
				"manageotherplayergroups"
			],
			"RuntimePrivileges": [],
			"DefaultGameMode": 1,
			"Color": "LightBlue",
			"LandClaimAllowance": 2147483647,
			"LandClaimMinSize": {
				"X": 5,
				"Y": 5,
				"Z": 5
			},
			"LandClaimMaxAreas": 99999,
			"AutoGrant": true
		}
	],
	"DefaultRoleCode": "{{ vintage_story_default_role | default('suplayer') }}",
	"ModPaths": [
		"Mods",
		"{{ vintage_story_world_dir }}/Mods"
	],
	"AntiAbuse": {{ vintage_story_anti_abuse | default(0) }},
	"WorldConfig": {
		"Seed": "{{ vintage_story_world_seed | default('1411521110') }}",
		"SaveFileLocation": "{{ vintage_story_world_dir }}/Saves/{{ vintage_story_world_save_name }}.vcdbs",
		"WorldName": "{{ vintage_story_world_name | default('Petites Pousses') }}",
		"AllowCreativeMode": {{ vintage_story_allow_creative | default(true) | lower }},
		"PlayStyle": "{{ vintage_story_play_style | default('surviveandbuild') }}",
		"PlayStyleLangCode": "{{ vintage_story_play_style_lang | default('surviveandbuild-bands') }}",
		"WorldType": "{{ vintage_story_world_type | default('standard') }}",
		"WorldConfiguration": {
			"gameMode": "{{ vintage_story_game_mode | default('survival') }}",
			"playerlives": "{{ vintage_story_player_lives | default('-1') }}",
			"startingClimate": "{{ vintage_story_starting_climate | default('temperate') }}",
			"spawnRadius": "{{ vintage_story_spawn_radius | default('50') }}",
			"graceTimer": "{{ vintage_story_grace_timer | default('2') }}",
			"deathPunishment": "{{ vintage_story_death_punishment | default('keep') }}",
			"droppedItemsTimer": "{{ vintage_story_dropped_items_timer | default('3600') }}",
			"seasons": "{{ vintage_story_seasons | default('enabled') }}",
			"daysPerMonth": "{{ vintage_story_days_per_month | default('12') }}",
			"harshWinters": "{{ vintage_story_harsh_winters | default('true') }}",
			"blockGravity": "{{ vintage_story_block_gravity | default('sandgravel') }}",
			"caveIns": "{{ vintage_story_cave_ins | default('off') }}",
			"lightningFires": {{ vintage_story_lightning_fires | default(true) | lower }},
			"allowUndergroundFarming": {{ vintage_story_underground_farming | default(true) | lower }},
			"noLiquidSourceTransport": {{ vintage_story_no_liquid_transport | default(false) | lower }},
			"playerHealthPoints": "{{ vintage_story_player_health | default('20') }}",
			"playerHealthRegenSpeed": "{{ vintage_story_health_regen | default('1') }}",
			"playerHungerSpeed": "{{ vintage_story_hunger_speed | default('1') }}",
			"lungCapacity": "{{ vintage_story_lung_capacity | default('40000') }}",
			"bodyTemperatureResistance": "{{ vintage_story_temp_resistance | default('0') }}",
			"playerMoveSpeed": "{{ vintage_story_move_speed | default('1.5') }}",
			"creatureHostility": "{{ vintage_story_creature_hostility | default('aggressive') }}",
			"creatureStrength": "{{ vintage_story_creature_strength | default('1') }}",
			"creatureSwimSpeed": "{{ vintage_story_creature_swim_speed | default('2') }}",
			"foodSpoilSpeed": "{{ vintage_story_food_spoil_speed | default('1') }}",
			"saplingGrowthRate": "{{ vintage_story_sapling_growth | default('1') }}",
			"toolDurability": "{{ vintage_story_tool_durability | default('1') }}",
			"toolMiningSpeed": "{{ vintage_story_tool_mining_speed | default('1') }}",
			"propickNodeSearchRadius": "{{ vintage_story_propick_radius | default('6') }}",
			"microblockChiseling": "{{ vintage_story_microblock_chiseling | default('stonewood') }}",
			"allowCoordinateHud": {{ vintage_story_coordinate_hud | default(true) | lower }},
			"allowMap": {{ vintage_story_allow_map | default(true) | lower }},
			"colorAccurateWorldmap": {{ vintage_story_color_worldmap | default(true) | lower }},
			"loreContent": {{ vintage_story_lore_content | default(true) | lower }},
			"clutterObtainable": "{{ vintage_story_clutter_obtainable | default('ifrepaired') }}",
			"temporalStability": {{ vintage_story_temporal_stability | default(true) | lower }},
			"temporalStorms": "{{ vintage_story_temporal_storms | default('veryrare') }}",
			"tempstormDurationMul": "{{ vintage_story_tempstorm_duration | default('0.5') }}",
			"temporalRifts": "{{ vintage_story_temporal_rifts | default('visible') }}",
			"temporalGearRespawnUses": "{{ vintage_story_temporal_gear_respawn | default('-1') }}",
			"temporalStormSleeping": "{{ vintage_story_temporal_storm_sleeping | default('1') }}",
			"worldClimate": "{{ vintage_story_world_climate | default('realistic') }}",
			"landcover": "{{ vintage_story_landcover | default('0.5') }}",
			"oceanscale": "{{ vintage_story_ocean_scale | default('3') }}",
			"upheavelCommonness": "{{ vintage_story_upheaval_commonness | default('0.3') }}",
			"geologicActivity": "{{ vintage_story_geologic_activity | default('0.1') }}",
			"landformScale": "{{ vintage_story_landform_scale | default('1.0') }}",
			"worldWidth": "{{ vintage_story_world_width | default('600000') }}",
			"worldLength": "{{ vintage_story_world_length | default('600000') }}",
			"worldEdge": "{{ vintage_story_world_edge | default('traversable') }}",
			"polarEquatorDistance": "{{ vintage_story_polar_equator_distance | default('100000') }}",
			"storyStructuresDistScaling": "{{ vintage_story_story_structures_scaling | default('1') }}",
			"globalTemperature": "{{ vintage_story_global_temperature | default('1') }}",
			"globalPrecipitation": "{{ vintage_story_global_precipitation | default('1') }}",
			"globalForestation": "{{ vintage_story_global_forestation | default('0') }}",
			"globalDepositSpawnRate": "{{ vintage_story_global_deposit_spawn | default('1') }}",
			"surfaceCopperDeposits": "{{ vintage_story_surface_copper | default('0.5') }}",
			"surfaceTinDeposits": "{{ vintage_story_surface_tin | default('0.25') }}",
			"snowAccum": "{{ vintage_story_snow_accum | default('true') }}",
			"allowLandClaiming": {{ vintage_story_allow_land_claiming | default(true) | lower }},
			"classExclusiveRecipes": {{ vintage_story_class_exclusive_recipes | default(true) | lower }},
			"auctionHouse": {{ vintage_story_auction_house | default(true) | lower }},
			"playstyle": "{{ vintage_story_play_style | default('surviveandbuild') }}"
		},
		"MapSizeY": null,
		"CreatedByPlayerName": null,
		"DisabledMods": null,
		"RepairMode": false
	},
	"NextPlayerGroupUid": {{ vintage_story_next_group_uid | default(11) }},
	"GroupChatHistorySize": {{ vintage_story_group_chat_history | default(20) }},
	"MaxOwnedGroupChannelsPerUser": {{ vintage_story_max_group_channels | default(10) }},
	"OnlyWhitelisted": {{ vintage_story_only_whitelisted | default(false) | lower }},
	"WhitelistMode": {{ vintage_story_whitelist_mode | default(2) }},
	"VerifyPlayerAuth": {{ vintage_story_verify_player_auth | default(true) | lower }},
	"DefaultSpawn": null,
	"AllowPvP": {{ vintage_story_allow_pvp | default(true) | lower }},
	"AllowFireSpread": {{ vintage_story_allow_fire_spread | default(true) | lower }},
	"AllowFallingBlocks": {{ vintage_story_allow_falling_blocks | default(true) | lower }},
	"HostedMode": {{ vintage_story_hosted_mode | default(false) | lower }},
	"HostedModeAllowMods": {{ vintage_story_hosted_mode_mods | default(false) | lower }},
	"VhIdentifier": null,
	"StartupCommands": null,
	"RepairMode": false,
	"AnalyzeMode": false,
	"CorruptionProtection": {{ vintage_story_corruption_protection | default(true) | lower }},
	"RegenerateCorruptChunks": {{ vintage_story_regenerate_corrupt_chunks | default(false) | lower }},
	"ChatRateLimitMs": {{ vintage_story_chat_rate_limit | default(1000) }},
	"DieBelowDiskSpaceMb": {{ vintage_story_die_below_disk_space | default(400) }},
	"ModIdBlackList": null,
	"ModIdWhiteList": null,
	"ServerIdentifier": "{{ vintage_story_server_identifier | default('7b156115-ef51-45d3-9d27-b638d41a1057') }}",
	"LogBlockBreakPlace": {{ vintage_story_log_block_actions | default(false) | lower }},
	"LogFileSplitAfterLine": {{ vintage_story_log_file_split | default(500000) }},
	"DieAboveErrorCount": {{ vintage_story_die_above_error_count | default(100000) }},
	"LoginFloodProtection": {{ vintage_story_login_flood_protection | default(false) | lower }},
	"TemporaryIpBlockList": {{ vintage_story_temp_ip_block | default(false) | lower }},
	"DisableModSafetyCheck": {{ vintage_story_disable_mod_safety | default(false) | lower }},
	"DieAboveMemoryUsageMb": {{ vintage_story_die_above_memory | default(50000) }}
}
