{
	"Comment": "You can use this config to increase/lower the cpu and network load of the server. A Warning though: Changing these numbers might make your server run unstable or slow. Use at your own risk! Until there is an official documentation, feel free to ask in the forums what the numbers do.",
	"DefaultEntityTrackingRange": {{ vintage_story_smn_default_entity_tracking_range | default(4) }},
	"DefaultSimulationRange": {{ vintage_story_smn_default_simulation_range | default(128) }},
	"RequestChunkColumnsQueueSize": {{ vintage_story_smn_request_chunk_columns_queue_size | default(2000) }},
	"ReadyChunksQueueSize": {{ vintage_story_smn_ready_chunks_queue_size | default(200) }},
	"ChunksColumnsToRequestPerTick": {{ vintage_story_smn_chunks_columns_to_request_per_tick | default(4) }},
	"ChunksToSendPerTick": {{ vintage_story_smn_chunks_to_send_per_tick | default(192) }},
	"ChunkRequestTickTime": {{ vintage_story_smn_chunk_request_tick_time | default(20) }},
	"ChunkColumnsToGeneratePerThreadTick": {{ vintage_story_smn_chunk_columns_to_generate_per_thread_tick | default(30) }},
	"ServerAutoSave": {{ vintage_story_smn_server_auto_save | default(300) }},
	"SpawnChunksWidth": {{ vintage_story_smn_spawn_chunks_width | default(7) }},
	"TrackedEntitiesPerClient": {{ vintage_story_smn_tracked_entities_per_client | default(3000) }},
	"CalendarPacketSecondInterval": {{ vintage_story_smn_calendar_packet_second_interval | default(60) }},
	"ChunkUnloadInterval": {{ vintage_story_smn_chunk_unload_interval | default(4000) }},
	"UncompressedChunkTTL": {{ vintage_story_smn_uncompressed_chunk_ttl | default(15000) }},
	"CompressedChunkTTL": {{ vintage_story_smn_compressed_chunk_ttl | default(45000) }},
	"PlayerDesyncTolerance": {{ vintage_story_smn_player_desync_tolerance | default(0.02) }},
	"PlayerDesyncMaxIntervalls": {{ vintage_story_smn_player_desync_max_intervalls | default(20.0) }},
	"ChunkThreadTickTime": {{ vintage_story_smn_chunk_thread_tick_time | default(5) }},
	"AntiAbuseMaxWalkBlocksPer200ms": {{ vintage_story_smn_anti_abuse_max_walk_blocks_per_200ms | default(3) }},
	"AntiAbuseMaxFlySuspicions": {{ vintage_story_smn_anti_abuse_max_fly_suspicions | default(3) }},
	"AntiAbuseMaxTeleSuspicions": {{ vintage_story_smn_anti_abuse_max_tele_suspicions | default(8) }},
	"MaxPhysicsThreads": {{ vintage_story_smn_max_physics_threads | default(1) }},
	"MaxWorldgenThreads": {{ vintage_story_smn_max_worldgen_threads | default(1) }},
	"MaxEntitySpawnsPerTick": {{ vintage_story_smn_max_entity_spawns_per_tick | default(8) }},
	"ServerMagicNumVersion": "{{ vintage_story_smn_server_magic_num_version | default('1.3') }}"
}
