---
# Prérequis : Fichier de variables sensibles ansible/vars/production.yml
#
# Commande pour exécuter le playbook
# ansible-playbook --extra-vars @ansible/vars/production.yml -i ansible/inventory.yml ansible/playbook-vintage-story.yml
#
# Simulation complète sans modifications
# ansible-playbook --extra-vars @ansible/vars/production.yml -i ansible/inventory.yml ansible/playbook-vintage-story.yml --check
#
# Avec plus de détails sur ce qui serait changé
# ansible-playbook --extra-vars @ansible/vars/production.yml -i ansible/inventory.yml ansible/playbook-vintage-story.yml --check --diff
#
# === EXÉCUTION PARTIELLE ===
# Tags disponibles : setup, user, dependencies, packages, directories, server, download, install, config, firewall, scripts, service, cleanup
#
# Installer seulement les dépendances :
# ansible-playbook --extra-vars @ansible/vars/production.yml -i ansible/inventory.yml ansible/playbook-vintage-story.yml --tags "setup"
#
# Installer seulement le serveur Vintage Story :
# ansible-playbook --extra-vars @ansible/vars/production.yml -i ansible/inventory.yml ansible/playbook-vintage-story.yml --tags "server"
#
# Installer seulement le serveur Vintage Story sans les scripts et le service :
# ansible-playbook --extra-vars @ansible/vars/production.yml -i ansible/inventory.yml ansible/playbook-vintage-story.yml --tags "server" --skip-tags "scripts,service"
#
# Seulement firewall et service :
# ansible-playbook --extra-vars @ansible/vars/production.yml -i ansible/inventory.yml ansible/playbook-vintage-story.yml --tags "firewall,service"
#
# Lister toutes les tâches avec leurs tags :
# ansible-playbook --extra-vars @ansible/vars/production.yml -i ansible/inventory.yml ansible/playbook-vintage-story.yml --list-tags
#
- name: Installation et configuration de Vintage Story
  hosts: vintage_story
  become: true
  roles:
    - vintage_story
